<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Vehicle MPG Visualization</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css" type="text/css" media="screen"/>

</head>

<body data-ng-app="VehicleMPG">

<div class="container-fluid" ng-controller="VehicleController">
    <!-- Filter -->
    <div class="filter">
        <h1 class="page-header text-center">Filter</h1>

        <!-- Form -->
        <form ng-submit="filter()">
            <div class="form-group">
                <!-- Select makes -->
                <p><strong>Makes:</strong></p>

                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#makesModal">
                    Select makes
                </button>

                <!-- selected makes -->
                <div ng-show="filterForm.makes.length">
                    <button class="btn btn-primary make-btn" ng-repeat="cm in filterForm.makes">
                        {{ cm }}&nbsp;
                        <span class="glyphicon glyphicon-remove" ng-click="removeMake(cm)"></span>
                    </button>
                </div>
                <!-- /selected makes -->

                <!-- /Select makes -->
            </div>
            <div class="form-group">
                <label for="cylinders">Cylinders:</label>
                <input type="text" class="form-control" id="cylinders" ng-model="filterForm.cylinders">
            </div>
            <div class="form-group">
                <label for="fromYear">Year Form:</label>
                <input type="text" class="form-control" id="fromYear" ng-model="filterForm.fromYear">
            </div>
            <div class="form-group">
                <label for="toYear">To Year:</label>
                <input type="text" class="form-control" id="toYear" ng-model="filterForm.toYear">
            </div>
            <button type="button" class="btn btn-default" ng-click="clear()">
                Clear
            </button>
            <button type="submit" class="btn btn-primary" style="float: right;">Filter</button>
        </form>
        <!-- /Form -->

        <hr />

        <!-- Select MPG -->
        <p>
            <strong>Select MPG type:</strong>
        </p>

        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default active" ng-click="selectMPGType('averageMPG')">
                <input type="radio"> Average MPG
            </label>
            <label class="btn btn-default" ng-click="selectMPGType('cityMPG')">
                <input type="radio"> City MPG
            </label>
            <label class="btn btn-default" ng-click="selectMPGType('highwayMPG')">
                <input type="radio"> Highway MPG
            </label>
        </div>
        <!-- /Select MPG -->

        <!-- Alerts -->
        <div ng-show="alerts.length">
            <hr />

            <p>
                <strong>Alerts</strong>
            </p>

            <div class="alert alert-danger" ng-repeat="msg in alerts">
                {{ msg }}
            </div>
        </div>
        <!-- /Alerts -->
    </div>
    <!-- /Filter-->

    <!-- Modal -->
    <div class="modal fade" id="makesModal" tabindex="-1" role="dialog" aria-labelledby="makesModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="makesModalLabel">Select Vehicle Makes</h4>
                </div>

                <div class="modal-body">
                    <p><strong>Makes:</strong></p>
                    <select class="form-control" ng-model="info.selectMake" ng-change="addMake()">
                        <option ng-repeat="make in info.makes | orderBy:'toString()'" value="{{make}}">
                            {{make}}
                        </option>
                    </select>

                    <div ng-show="filterForm.makes.length">
                        <hr />

                        <button class="btn btn-primary make-btn" ng-repeat="cm in filterForm.makes">
                            {{ cm }}&nbsp;
                            <span class="glyphicon glyphicon-remove" ng-click="removeMake(cm)"></span>
                        </button>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="float: left;" ng-click="clearMakes()">Clear</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->

    <!-- Analytics -->
    <div class="main">
        <h1 class="page-header text-center">Vehicle Miles Per Gallon Over Time</h1>

        <!-- Tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#plot" aria-controls="plot" role="tab" data-toggle="tab">Plot</a></li>
            <li role="presentation"><a href="#average" aria-controls="average" role="tab" data-toggle="tab">Average</a></li>
        </ul>

        <div class="row tab-content">

            <!-- Plot tab-->
            <div class="tab-pane fade in active" role="tabpanel" id="plot">
                <div id="plot-chart">

                </div>

                <!-- Legend -->
                <div>
                    <h4>
                        <strong>Legend</strong>
                    </h4>

                    <ul>
                        <li style="color: green;"> Greater than 30 Miles per Gallon</li>
                        <li style="color: orange;"> Between 15 and 30 Miles per Gallon</li>
                        <li style="color: red;"> Less than 10 Miles per Gallon</li>
                    </ul>
                </div>
                <!-- /Legend -->
            </div>
            <!-- /Plot tab -->

            <!-- Average tab-->
            <div class="tab-pane fade in active" role="tabpanel" id="average">
                <div id="average-chart">

                </div>
            </div>
            <!-- /Average tab-->
        </div>


        <!-- /Chart -->
    </div>
    <!-- /Analytics -->

</div>
<!-- /container-fluid -->

<!-- scripts -->
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/vehicle.js"></script>
<script type="text/javascript" src="js/VehicleCtrl.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.12/d3.min.js"></script>
<script type="text/javascript" src="js/ngprogress.min.js"></script>


</body>
</html>