/*
 * Sidebar
 */
body {
    background-color: #f5f5f5;
}

/*
 * Filter
 */

.filter {
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 20px;
    float: left;
    margin-top: 30px;
}

.filter h1 {
    margin-top: 0;
}

/*
 * Main content
 */

.main {
    padding: 20px;
    margin-left: 30px;
    display: inline-block;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

/*
 * D3
 */
.axis path, .axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
}